* text=auto !eol
/ChangeLog -text
/DESCRIPTION -text
/NAMESPACE -text
R/ClassStat.R -text
R/ConnCompLabel.R -text
R/ImageDiff.R -text
R/Istat.R -text
R/PatchStat.R -text
R/Scalebar.R -text
R/SigDiff.R -text
R/ZonalStat.R -text
R/asc.from.raster.R -text
R/auc.R -text
R/compare.matrix.R -text
R/extract.data.R -text
R/lcmw.R -text
R/legend.gradient.r -text
R/pnt.in.poly.R -text
R/quick.map.r -text
R/read.asc.R -text
R/write.asc.R -text
man/ClassStat.Rd -text
man/ConnCompLabel.Rd -text
man/Istat.Rd -text
man/PatchStat.Rd -text
man/SDMTools-package.Rd -text
man/Scalebar.Rd -text
man/SigDiff.Rd -text
man/ZonalStat.Rd -text
man/asc.from.raster.Rd -text
man/auc.Rd -text
man/compare.matrix.Rd -text
man/extract.data.Rd -text
man/lcmw.Rd -text
man/legend.gradient.rd -text
man/pnt.in.poly.Rd -text
man/quick.map.rd -text
man/read.asc.Rd -text
src/PS.c -text
src/ccl.c -text
src/getmin.c -text
src/movewindow.c -text
src/pip.c -text
