* text=auto !eol
/DESCRIPTION -text
/NAMESPACE -text
R/ClassStat.R -text
R/ConnCompLabel.R -text
R/ImageDiff.R -text
R/Istat.R -text
R/Kappa.R -text
R/PatchStat.R -text
R/Scalebar.R -text
R/SigDiff.R -text
R/ZonalStat.R -text
R/accuracy.R -text
R/asc.from.raster.R -text
R/asc2dataframe.R -text
R/auc.R -text
R/circular.averaging.R -text
R/compare.matrix.R -text
R/confusion.matrix.R -text
R/dataframe2asc.R -text
R/destination.R -text
R/distance.R -text
R/extract.data.R -text
R/getXYcoords.R -text
R/grid.area.R -text
R/grid.info.R -text
R/grid.perimeter.R -text
R/image.asc.R -text
R/lcmw.R -text
R/legend.gradient.r -text
R/omission.R -text
R/optim.thresh.R -text
R/pnt.in.poly.R -text
R/print.asc.R -text
R/put.data.R -text
R/quick.map.r -text
R/read.asc.R -text
R/vector.averaging.R -text
R/write.asc.R -text
man/ClassStat.Rd -text
man/ConnCompLabel.Rd -text
man/Istat.Rd -text
man/Kappa.Rd -text
man/PatchStat.Rd -text
man/Scalebar.Rd -text
man/SigDiff.Rd -text
man/ZonalStat.Rd -text
man/accuracy.Rd -text
man/asc.from.raster.Rd -text
man/asc2dataframe.Rd -text
man/auc.Rd -text
man/circular.averaging.Rd -text
man/compare.matrix.Rd -text
man/confusion.matrix.Rd -text
man/destination.Rd -text
man/distance.Rd -text
man/extract.data.Rd -text
man/getXYcoords.Rd -text
man/grid.area.Rd -text
man/grid.info.Rd -text
man/lcmw.Rd -text
man/legend.gradient.rd -text
man/omission.Rd -text
man/optim.thresh.Rd -text
man/pnt.in.poly.Rd -text
man/put.data.Rd -text
man/quick.map.rd -text
man/read.asc.Rd -text
src/ConnectedComponentLabelling.c -text
src/getmin.c -text
src/movewindow.c -text
src/patchstats.c -text
src/pointinpolygon.c -text
src/vincenty.geodesics.c -text
