* text=auto !eol
/ChangeLog -text
/DESCRIPTION -text
/NAMESPACE -text
R/ClassStat.R -text
R/ConnCompLabel.R -text
R/ImageDiff.R -text
R/Istat.R -text
R/PatchStat.R -text
R/Scalebar.R -text
R/SigDiff.R -text
R/compare.matrix.R -text
R/extract.data.R -text
R/lcmw.R -text
R/read.asc.R -text
R/write.asc.R -text
man/ClassStat.Rd -text
man/ConnCompLabel.Rd -text
man/Istat.Rd -text
man/PatchStat.Rd -text
man/SDMTools-package.Rd -text
man/Scalebar.Rd -text
man/SigDiff.Rd -text
man/compare.matrix.Rd -text
man/extract.data.Rd -text
man/lcmw.Rd -text
man/read.asc.Rd -text
src/PS.c -text
src/ccl.c -text
src/getmin.c -text
src/movewindow.c -text
