S3method(image,asc)
S3method(print,asc)
export(COGravity)
export(ClassStat)
export(ConnCompLabel)
export(ImageDiff)
export(Istat)
export(Kappa)
export(PatchStat)
export(Scalebar)
export(SigDiff)
export(ZonalStat)
export(accuracy)
export(as.asc)
export(asc.from.raster)
export(asc.from.sp)
export(asc2dataframe)
export(aspect)
export(auc)
export(circular.averaging)
export(compare.matrix)
export(confusion.matrix)
export(dataframe2asc)
export(destination)
export(distance)
export(extract.data)
export(getXYcoords)
export(grid.area)
export(grid.info)
export(grid.perimeter)
export(lcmw)
export(legend.gradient)
export(omission)
export(optim.thresh)
export(pnt.in.poly)
export(prop.correct)
export(put.data)
export(quick.map)
export(raster.from.asc)
export(read.asc)
export(read.asc.gz)
export(sensitivity)
export(slope)
export(sp.from.asc)
export(specificity)
export(vector.averaging)
export(write.asc)
export(write.asc.gz)
export(write.asc2)
export(write.asc2.gz)
export(wt.mean)
export(wt.sd)
export(wt.var)
import(R.utils)
useDynLib(SDMTools,Aspect)
useDynLib(SDMTools,Dest)
useDynLib(SDMTools,Dist)
useDynLib(SDMTools,Slope)
useDynLib(SDMTools,ccl)
useDynLib(SDMTools,geographicPS)
useDynLib(SDMTools,getmin)
useDynLib(SDMTools,movewindow)
useDynLib(SDMTools,pip)
useDynLib(SDMTools,projectedPS)
useDynLib(SDMTools,writeascdata)
